// Write your styles here
body{
	margin: 0;
	font-family: $mainFont;
	background:$mainBackground;
	color:$postMainColor;
}

header{
	background-image: $backgroundImage;
	background-size: 100% 100%;
	height: 990px;
	color:$menuColor;
	nav{
		float: right;
		padding-top:30px;
		a{
			color: $menuColor;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			padding:0px 130px;
			font-weight: bold;
			&:nth-child(even){
  				border-right:1px solid $margin;
  				border-left:1px solid $margin;
  			}
  		}			
	}
	img{
		width: 230px;
		height: auto;
		float: left;
	}
	section{
		text-align: center;
		position: absolute;
        top: 50%;
    	left: 50%;
        transform: translate(-50%, -50%);
       	text-transform: uppercase;
       	font-size: 15px;
	}
	.btn{
		color: $menuColor;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		color: white;
		background-color: $btnColor;
		width: 200px;
		height: 40px;
		padding: 15px 60px;
	}
}
main{
	width: 75%;
	margin: 0 auto;
	h1{
		text-align: right;
		padding-top:55px;
		text-transform:uppercase;
		margin-bottom:0px;
	}
}
.toolbar{
	width: 1230px;
	float: right;
	input{
		float: right;
	    padding: 10px;
    	border: 1px solid #3c5356;
    	background-color: $mainBackground;
    	&::placeholder{
    		color:black;
    	}
	}
}
article{
	width: 100%;
	background-color: $articleBackground;
	margin-bottom:23px;
	padding:10px;
	height: 290px;
	img{
		width:23%;
		height:auto;
		float:left;
		padding-right:10px;
	}
	h3{
		color:$postHeaderColor;
		margin-top:0px;
		margin-bottom:0px;
		border-top:1px solid black;
		padding-top:5px;
		text-transform:uppercase;
		font-size:18px;		
	}
	div.post{
		padding:1px 5px 5px 24%;
		div{
			font-size:11px;
			padding:10px;
			color:$postColor;
		}
	}
	button{
		color: $btmColor;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		background-color: $btnColor;
		width: 260px;
		padding: 15px 60px;
		border:0px;
		float:right;
	}
	
}
section.about{
	img{
		width: 100%;
		height: auto;
	}
}
section.contact-form{
	h4{

		text-align: right;
		text-transform:uppercase;
		margin:0px;
	}
	p{
		color: $postHeaderColor;
		float: right;
	}
	.form-groups{
		display: inline-block;
		width: 49%;
		margin-right: 8px;

		input{
			width: 100%;
			height: 30px;

		}
	}
	.form-group{
		width: 100%;
		
	}
	input,textarea{
		background:$mainBackground;
		border:1px solid grey; 
	}
	button{
		color: $btmColor;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		background-color: $btnColor;
		margin-top: 10px;
		padding: 15px 60px;
		border:0px;
		float:right;
		width: 260px;
	}
}
footer{
	margin: 60px 0 20px 10px;
}