$mainBackground:white;
$mainFont: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$backgroundImage: url(../img/header_background_v1.jpg);
$articleBackground: #efefef;
$menuColor: white;
$btnColor: #87cefa;
$postColor: #df1c1c;
$postHeaderColor: #29b8ac;
$margin: #29b8ac;
$postMainColor: black;
$btmColor:white;