$mainBackground:#efefef;
$mainFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$backgroundImage: url(../img/header_background_v2.jpg);
$articleBackground: white;
$menuColor: #df1c1c;
$btnColor: rgb(9, 9, 199);;
$postColor: rgb(219, 216, 216);
$postHeaderColor: rgb(99, 114, 113);
$margin: white;
$btmColor:white;
$postMainColor: rgb(131, 131, 131);