body {
  margin: 0;
  font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
  background: white;
  color: black; }

header {
  background-image: url(../img/header_background_v1.jpg);
  background-size: 100% 100%;
  height: 990px;
  color: white; }
  header nav {
    float: right;
    padding-top: 30px; }
    header nav a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      padding: 0px 130px;
      font-weight: bold; }
      header nav a:nth-child(even) {
        border-right: 1px solid #29b8ac;
        border-left: 1px solid #29b8ac; }
  header img {
    width: 230px;
    height: auto;
    float: left; }
  header section {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 15px; }
  header .btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: #87cefa;
    width: 200px;
    height: 40px;
    padding: 15px 60px; }

main {
  width: 75%;
  margin: 0 auto; }
  main h1 {
    text-align: right;
    padding-top: 55px;
    text-transform: uppercase;
    margin-bottom: 0px; }

.toolbar {
  width: 1230px;
  float: right; }
  .toolbar input {
    float: right;
    padding: 10px;
    border: 1px solid #3c5356;
    background-color: white; }
    .toolbar input::placeholder {
      color: black; }

article {
  width: 100%;
  background-color: #efefef;
  margin-bottom: 23px;
  padding: 10px;
  height: 290px; }
  article img {
    width: 23%;
    height: auto;
    float: left;
    padding-right: 10px; }
  article h3 {
    color: #29b8ac;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid black;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 18px; }
  article div.post {
    padding: 1px 5px 5px 24%; }
    article div.post div {
      font-size: 11px;
      padding: 10px;
      color: #df1c1c; }
  article button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #87cefa;
    width: 260px;
    padding: 15px 60px;
    border: 0px;
    float: right; }

section.about img {
  width: 100%;
  height: auto; }

section.contact-form h4 {
  text-align: right;
  text-transform: uppercase;
  margin: 0px; }
section.contact-form p {
  color: #29b8ac;
  float: right; }
section.contact-form .form-groups {
  display: inline-block;
  width: 49%;
  margin-right: 8px; }
  section.contact-form .form-groups input {
    width: 100%;
    height: 30px; }
section.contact-form .form-group {
  width: 100%; }
section.contact-form input, section.contact-form textarea {
  background: white;
  border: 1px solid grey; }
section.contact-form button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #87cefa;
  margin-top: 10px;
  padding: 15px 60px;
  border: 0px;
  float: right;
  width: 260px; }

footer {
  margin: 60px 0 20px 10px; }
